header {
  background-image: url(./images/img.png);
  height: 840px;
  width: 100%;
  padding: 52px 0 0 120px;
  background-size: cover;
  background-position: center;
}

.header {
  &__container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 52px 120px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    gap: 87px;
    padding-right: 120px;
  }

  &__bottom {
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    padding: 50px 100px 0 0;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
}
