.page__menu {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

.menu {
  padding: 52px 0 0 120px;
  height: 100vh;
  background-color: #d12d35;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    color: #fff;
    font-size: 22px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  &__phone-number {
    display: block;
    color: #fff;
    padding: 15px 0;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  &__call-to-order {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
  }
}
