.contact {
  &__info {
    display: flex;
    padding: 0 120px;
  }

  &__box {
    width: 237px;
    padding-right: 24px;
  }

  &__phone-address {
    font-weight: 400;
    text-decoration: none;
    word-break: break-word;
  }
}

.form {
  padding-left: 87px;

  &__input {
    height: 48px;
    width: 411px;
    background-color: #f8f8fa;
    margin-bottom: 16px;
    padding-left: 16px;
    font-family: inherit;
    font-weight: 400;
    border: none;

    &:hover {
      font-weight: 700;
      border: 1px solid #d5d7de;
    }

    &:active,
    &:focus {
      font-weight: 700;
      border: 1px solid #000;
    }

    &:disabled {
      font-weight: 700;
    }
  }

  &__textarea {
    height: 144px;
    width: 411px;
    background-color: #f8f8fa;
    padding-top: 14px;
    padding-left: 16px;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 32px;
    border: none;

    &:hover {
      font-weight: 700;
      border: 1px solid #d5d7de;
    }

    &:active,
    &:focus {
      font-weight: 700;
      border: 1px solid #000;
    }

    &:disabled {
      font-weight: 700;
    }
  }

  &__button {
    height: 56px;
    width: 430px;
    margin-bottom: 150px;
    background-color: #d12d35;
    color: #fff;
    font-family: inherit;
    border: none;

    &:hover {
      background-color: #ae1c23;
    }

    &:active {
      background-color: #eb343d;
    }
  }
}
