.explore {
  padding: 0 120px;

  &__title {
    padding-bottom: 48px;
  }

  &__options {
    display: flex;
  }

  &__collection {
    width: 324px;
    height: 471px;
    padding-right: 24px;
    padding-bottom: 140px;
  }

  &__image {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.options {
  &__title {
    text-align: center;
    color: #d12d35;
    font-size: 24px;
  }

  &__description {
    text-align: center;
    font-weight: 400;
  }
}
