.gallery {
  padding: 0 120px;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    padding-top: 2px;
    padding-bottom: 48px;
    text-align: center;
    font-weight: 400;
  }

  &__arts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__images {
    padding-right: 24px;
    padding-bottom: 224px;
  }

  &__coments {
    margin: 0;
    padding: 0;
    color: #d12d35;
  }

  &__info {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 48px;
    font-weight: 400;
  }

  &__button {
    margin: 40px auto 0;
    height: 56px;
    width: 324px;
    background-color: #d12d35;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  text-decoration: none;
  color: #fff;
}
