.gallery {
  padding: 0 120px;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    padding-top: 2px;
    padding-bottom: 48px;
    text-align: center;
    font-weight: 400;
  }

  &__arts {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  &__images {
    padding-right: 24px;
    padding-bottom: 224px;
  }

  &__coments {
    margin: 0;
    padding: 0;
    color: #d12d35;
  }

  &__info {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 48px;
    font-weight: 400;
  }

  &__button {
    margin: 40px auto 0;
    height: 56px;
    width: 324px;
    background-color: #d12d35;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image--1 {
  grid-column: 1 / span 8;
}

.image--2 {
  grid-column: 9 / span 4;
}

.image--3 {
  grid-column: 1 / span 4;
}

.image--4 {
  grid-column: 5 / span 4;
}

.image--5 {
  grid-column: 9 / span 4;
}

.image--6 {
  grid-column: 1 / span 4;
}

.image--7 {
  grid-column: 5 / span 8;
}

.button {
  text-decoration: none;
  color: #fff;
}
