@media (max-width: 480px) {
  header {
    width: 100%;
    height: auto;
    padding: 24px 20px;
  }

  .header__top {
    align-items: center;
  }

  .header__icons {
    gap: 24px;
    padding-right: 0;
  }

  .header__bottom {
    font-size: 24px;
    line-height: 32px;
    padding: 40px 0 0;
    text-align: left;
  }

  .about-us {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .section-title {
    grid-column: 1 / -1;
    font-size: 32px;
  }

  .section-subtitle,
  .schedule {
    grid-column: 1 / -1;
  }

  .schedule {
    dt,
    dd {
      grid-column: 1 / -1;
    }
  }

  .gallery {
    padding: 0 20px;

    &__arts {
      display: flex;
      flex-direction: column;
    }

    &__images {
      padding-right: 0;
    }
  }

  .explore {
    padding: 0 20px;

    &__options {
      flex-direction: column;
      align-items: center;
    }

    &__collection {
      width: 100%;
      padding-right: 0;
      align-items: center;
    }
  }

  .contact__info {
    flex-direction: column;
    padding: 0 20px;
  }

  .form {
    padding-left: 0;

    &__input,
    &__textarea,
    &__button {
      width: 100%;
    }
  }

  .footer {
    width: 100%;
    height: auto;
    padding: 40px 20px;
  }
}
