@media (max-width: 744px) {
  header {
    width: 100%;
    padding: 40px;
  }

  .about-us {
    padding: 0 40px;
  }

  .gallery,
  .explore,
  .contact__info {
    padding: 0 40px;
  }

  .explore__options {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form {
    &__input,
    &__textarea,
    &__button {
      width: 100%;
    }
  }
}
